footer {
  color: #fff;
  background-color: $grey-secondary;
  padding: 20px;
  @media (min-width: 425px) {
    padding: 15px;
  }

  h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 1.7rem;

    @media (min-width: 425px) {
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: 10px;
    }

  }
  li {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  i {
    font-size: 1.3rem;
    margin-right: 10px;
  }

}

@media (min-width: 580px) {

  ul {
    display: flex;
    justify-content: space-between;
  }

}