footer {
  color: #fff;
  background-color: $grey-secondary;
  padding: 35px;

  h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 1.7rem;
  }

  li {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  i {
    font-size: 1.3rem;
    margin-right: 10px;
  }
}