.notice {
  background-color: #fff;
  padding: 20px;
  display: grid;
  grid-template-rows: auto repeat(3, 70px) 20px;
  grid-gap: 20px;

  ul {
    display: contents;
  }

  li {
    @include notice-button();
    transition: background-color 200ms ease-in;
    width: inherit;
    margin-left: 10px;
    margin-bottom: 0;

    i {
      font-size: 1.4rem;
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      color: $grey-accent;
    }
    &:hover {
      background-color: $grey-primary;
      i {
        color: $color-primary;

      }
    }
  }
}

.header__navigation {
  position: relative;

  i {
    color: $grey-secondary;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
}

header {
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}