.restaurant-main {
  background-color: $grey-tertiary;
  border-radius: 40px 40px 0 0;
  padding: 20px 20px 0px 20px;
  position: relative;
  top: -50px;
  
  @media (min-width: 425px) {
    padding: 20px 15px 0px 15px;
  }
}