/*COLOR SCHEME*/
/*ANIMATIONS VARIABLES*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
:root {
  font-size: 9px;
}
@media (min-width: 375px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 425px) {
  :root {
    font-size: 11px;
  }
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
}

.brand-name {
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #fff;
}

h2 {
  font-size: 2.2rem;
}

@media (min-width: 425px) {
  .results h2 {
    grid-column: 1/3;
  }
}

.menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 2.6rem;
}
.menu__title i {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

@media (min-width: 425px) {
  .results h3 {
    font-size: 1.7rem;
  }
  .results p {
    font-size: 1.5rem;
  }
}

.element__group h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.element__item p:first-of-type {
  font-size: 1.6rem;
  font-weight: bold;
}
.element__item p:last-of-type {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.7rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

i {
  font-size: 2rem;
}

a {
  color: inherit;
}

@media (min-width: 768px) {
  .notice li {
    font-size: 1.5rem;
  }
}
@media (min-width: 1080px) {
  .notice li {
    font-size: 1.7rem;
  }
}

footer a {
  transition: color 200ms ease-in-out;
}
@media (min-width: 425px) {
  footer a {
    font-size: 1.5rem;
  }
}
footer a:hover {
  color: #9356DC;
}

button {
  display: block;
  width: 220px;
  height: 50px;
  border: none;
  font-size: 1.5rem;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  margin: auto;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 65%);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.65);
  transition: all 250ms ease-out 20ms;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 10px 13px -10px black;
  background: linear-gradient(172deg, #ff79da 0%, #9356dc 65%);
  opacity: 0.9;
}

header form {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  header form {
    padding-bottom: 30px;
  }
}
header form label {
  display: block;
  height: 55px;
  line-height: 55px;
  background-color: #eaeaea;
  color: #353535;
  box-shadow: inset 0 4px 4px -5px #353535;
}
header form label input {
  margin-left: 10px;
  background: transparent;
  border: none;
}
header form label input:focus {
  border: none;
  outline: none;
}
header form h2 {
  padding: 25px 35px 0 35px;
}
header form p {
  padding: 20px 35px 20px 35px;
}

@media (min-width: 768px) {
  .order {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-gap: 2%;
  }
}
@media (min-width: 1024px) {
  .order {
    grid-template-columns: repeat(3, 32%);
  }
}

.order__send {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .order__send {
    margin-top: auto;
    grid-column: 2/3;
  }
}
@media (min-width: 1024px) {
  .order__send {
    margin-top: 20px;
  }
}

.checked {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #99e2d0;
  color: #fff;
  width: 0;
  height: 65px;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  transition: all 700ms ease;
}
.checked i {
  transform: rotate(0deg);
}

.step {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  left: -10px;
  top: 25px;
  color: #fff;
  font-size: 1.3rem;
  background-color: #9356DC;
  position: absolute;
}

.new {
  background-color: #99e2d0;
  color: #1e997b;
  font-size: 1.3rem;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: scale(1);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like {
  width: 20px;
  height: 20px;
  position: relative;
}

.heart {
  color: #7e7e7e;
  background-color: transparent;
  position: relative;
  left: 0;
  z-index: 2;
  transition: opacity 450ms ease-in-out;
}

.hidden-heart {
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.95rem;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: opacity 400ms ease-in-out;
}

figure {
  height: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.25);
}
figure img {
  border-radius: 15px 15px 0 0;
  height: calc(100% - 60px);
  width: 100%;
  object-fit: cover;
}
figure figcaption {
  height: 60px;
  position: relative;
  padding: 10px;
}

.results__card--description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.load {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  transform: translateX(0);
  animation: hidden_loader 10ms cubic-bezier(0, 1.27, 0, 0.91) 3s 1 forwards;
}
.load__spinner {
  height: 15rem;
  width: 15rem;
  margin: auto;
  border-top: 8px double #9356DC;
  border-right: 8px double transparent;
  border-radius: 50%;
  animation: spinner 750ms linear 4;
}
.load i {
  font-size: 7.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ff79da;
  opacity: 0;
  animation: reveal 3.1s ease-in-out 1;
}

.like:hover {
  cursor: pointer;
}
.like:hover > .heart {
  opacity: 0;
}
.like:hover > .hidden-heart {
  opacity: 1;
}

@media (max-width: 1024px) {
  .element__item {
    animation: label-show 750ms backwards;
  }
  .element__item--1 {
    animation-delay: 187.5ms;
  }
  .element__item--2 {
    animation-delay: 375ms;
  }
  .element__item--3 {
    animation-delay: 562.5ms;
  }
  .element__item--4 {
    animation-delay: 750ms;
  }
}

@media (min-width: 1024px) {
  .order__item {
    animation: fieldset-show 750ms backwards;
  }
  .order__item--1 {
    animation-delay: 187.5ms;
  }
  .order__item--2 {
    animation-delay: 375ms;
  }
  .order__item--3 {
    animation-delay: 562.5ms;
  }
}

.results a:hover .new {
  animation: new-shake 150ms cubic-bezier(0, 0.7, 1, 0.35) 700ms 2 forwards;
}

/*KEYFRAMES*/
@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes reveal {
  100% {
    color: #9356DC;
    opacity: 1;
  }
}
@keyframes hidden_loader {
  100% {
    transform: translateX(-9999px);
  }
}
@keyframes reveal_heart {
  100% {
    opacity: 1;
  }
}
@keyframes hidden_heart {
  100% {
    opacity: 0;
  }
}
@keyframes label-show {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fieldset-show {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes new-shake {
  25% {
    transform: translateX(4%);
  }
  75% {
    transform: translateX(-4%);
  }
}
body {
  background-color: #f6f6f6;
}

.notice {
  background-color: #fff;
  padding: 20px;
  display: grid;
  grid-template-rows: auto repeat(3, 70px) 20px;
  grid-gap: 20px;
}
@media (min-width: 768px) {
  .notice {
    padding: 15px;
    display: grid;
    grid-template-rows: auto 70px 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}
.notice ul {
  display: contents;
}
.notice li {
  background-color: #f6f6f6;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  transition: all 240ms ease-out;
  width: inherit;
  margin-left: 10px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .notice li:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .notice li:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .notice li:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}
.notice li i {
  font-size: 1.4rem;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #7e7e7e;
}
@media (min-width: 768px) {
  .notice li i {
    left: 50%;
    top: initial;
    bottom: 5px;
    transform: none;
    font-size: 1.2rem;
  }
}
.notice li:nth-child(3) {
  background-color: #f5edfe;
  box-shadow: 0 10px 12px -10px rgba(0, 0, 0, 0.25);
}
.notice li:nth-child(3) i {
  color: #9356DC;
}
.notice li:hover {
  cursor: help;
  background-color: #f8f2fe;
  box-shadow: 0 10px 12px -10px rgba(0, 0, 0, 0.15);
}
.notice li:hover i {
  color: #9356DC;
}

.header__navigation {
  position: relative;
}
.header__navigation i {
  color: #353535;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  transition: color 200ms ease-in-out;
}
@media (min-width: 425px) {
  .header__navigation i {
    left: 15px;
  }
}
.header__navigation i:hover {
  color: #9356DC;
}

header img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.results {
  background-color: #f6f6f6;
  padding: 20px;
  display: grid;
  grid-template-rows: auto repeat(4, 200px) 20px;
  grid-gap: 20px;
}
@media (min-width: 425px) {
  .results {
    grid-template-rows: auto repeat(2, 200px) 10px;
    padding: 15px;
    grid-gap: 15px;
  }
}
@media (min-width: 600px) {
  .results {
    grid-template-rows: auto repeat(2, 240px) 10px;
  }
}
@media (min-width: 1024px) {
  .results {
    grid-template-rows: auto repeat(2, 300px) 10px;
  }
}
@media (min-width: 1380px) {
  .results {
    grid-template-rows: auto repeat(2, 400px) 10px;
  }
}

.restaurant-main {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 20px 20px 0px 20px;
  transform: translateY(-50px);
}
@media (min-width: 425px) {
  .restaurant-main {
    padding: 20px 15px 0px 15px;
  }
}

footer {
  color: #fff;
  background-color: #353535;
  padding: 20px 20px 0px 20px;
}
@media (min-width: 425px) {
  footer {
    padding: 15px;
  }
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
}
@media (min-width: 425px) {
  footer h3 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
}
footer li {
  line-height: 1.5;
  font-size: 1.5rem;
}
footer i {
  font-size: 1.3rem;
  margin-right: 10px;
}

@media (min-width: 580px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.element__group {
  display: flex;
  flex-direction: column;
}
.element__group h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
  text-transform: uppercase;
  color: #353535;
  padding-top: 20px;
}
.element__group h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-top: 5px;
}

.element__item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
}
.element__item:hover .checked {
  width: 20%;
}
.element__item:hover .checked i {
  transform: rotate(1turn);
  transition: transform 600ms ease 70ms;
}

.element__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.descr__title, .descr__subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__price {
  display: flex;
  align-items: flex-end;
  padding: 0 10px 10px 5px;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
