@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
:root {
  font-size: 10px;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
}

.brand-name {
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #fff;
}

h2 {
  font-size: 2.2rem;
}

.menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 2.6rem;
}
.menu__title i {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

.plate h3 {
  font-size: 1.7rem;
}
.plate p {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.7rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

i {
  font-size: 2rem;
}

a {
  color: inherit;
}

/*COLORS*/
/*ANIMATIONS DURATIONS & DELAYS*/
button {
  display: block;
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  margin: auto;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 65%);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.75);
}
button:hover {
  cursor: pointer;
  box-shadow: 0 10px 10px -10px black;
}

header form {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
header form label {
  display: block;
  height: 55px;
  line-height: 55px;
  background-color: #eaeaea;
  color: #353535;
  box-shadow: inset 0 4px 4px -5px #353535;
}
header form label input {
  margin-left: 10px;
  background: transparent;
  border: none;
}
header form label input:focus {
  border: none;
  outline: none;
}
header form h2 {
  padding: 25px 35px 0 35px;
}
header form p {
  padding: 20px 35px 20px 35px;
}

.order fieldset {
  border: none;
}
.order fieldset legend {
  text-transform: uppercase;
  padding-top: 20px;
}
.order fieldset legend::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin-top: 5px;
  background-color: #99e2d0;
}
.order fieldset input {
  display: none;
}

.order label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 15px;
  height: 65px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  margin-top: 10px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.plate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.order__send {
  margin-top: 40px;
}

.step {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  left: -10px;
  top: 25px;
  color: #fff;
  font-size: 1.3rem;
  background-color: #9356DC;
  position: absolute;
}

.new {
  background-color: #99e2d0;
  color: #1e997b;
  font-size: 1.3rem;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

figure {
  height: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.25);
}
figure img {
  border-radius: 15px 15px 0 0;
  height: calc(100% - 60px);
  width: 100%;
  object-fit: cover;
}
figure figcaption {
  height: 60px;
  position: relative;
  padding: 10px;
}
figure i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.load {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  transform: translateX(0);
  animation: hidden_loader 10ms cubic-bezier(0, 1.27, 0, 0.91) 3s 1 forwards;
}
.load__spinner {
  height: 15rem;
  width: 15rem;
  margin: auto;
  border-top: 8px double #9356DC;
  border-right: 8px double transparent;
  border-radius: 50%;
  animation: spinner 750ms linear 4;
}
.load i {
  font-size: 7.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ff79da;
  opacity: 0;
  animation: reveal 3.1s ease-in-out 1;
}

.hidden-heart {
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0), translateX(-10px);
}
.hidden-heart:hover {
  animation: hidden_heart 300ms ease-in-out both;
}

.label__element {
  animation: label-show 750ms backwards;
}
.label__element--1 {
  animation-delay: 187.5ms;
}
.label__element--2 {
  animation-delay: 375ms;
}
.label__element--3 {
  animation-delay: 562.5ms;
}
.label__element--4 {
  animation-delay: 750ms;
}

/*KEYFRAMES*/
@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes reveal {
  100% {
    color: #9356DC;
    opacity: 1;
  }
}
@keyframes hidden_loader {
  100% {
    transform: translateX(-9999px);
  }
}
@keyframes hidden_heart {
  100% {
    transform: scale(1);
  }
}
@keyframes label-show {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
body {
  background-color: #f6f6f6;
}

.notice {
  background-color: #fff;
  padding: 20px;
  display: grid;
  grid-template-rows: auto repeat(3, 70px) 20px;
  grid-gap: 20px;
}
.notice ul {
  display: contents;
}
.notice li {
  background-color: #f6f6f6;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  transition: background-color 200ms ease-in;
  width: inherit;
  margin-left: 10px;
  margin-bottom: 0;
}
.notice li i {
  font-size: 1.4rem;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #7e7e7e;
}
.notice li:hover {
  background-color: #f5edfe;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.45);
}
.notice li:hover i {
  color: #9356DC;
}

.header__navigation {
  position: relative;
}
.header__navigation i {
  color: #353535;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

header img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.results {
  background-color: #f6f6f6;
  padding: 20px;
  display: grid;
  grid-template-rows: auto repeat(4, 200px) 20px;
  grid-gap: 20px;
}

.restaurant-main {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 20px 20px 0px 20px;
  position: relative;
  top: -50px;
}

footer {
  color: #fff;
  background-color: #353535;
  padding: 20px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
}
footer li {
  line-height: 1.5;
  font-size: 1.5rem;
}
footer i {
  font-size: 1.3rem;
  margin-right: 10px;
}

/*# sourceMappingURL=mobile.css.map */
