@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
:root {
  font-size: 10px;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.7rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

i {
  font-size: 2rem;
}

a {
  color: inherit;
}

button {
  display: block;
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  margin: auto;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 65%);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.75);
}
button:hover {
  cursor: pointer;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.9);
}

header form {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
header form label {
  display: block;
  height: 55px;
  margin: auto;
  line-height: 55px;
  background-color: #eaeaea;
  color: #353535;
  box-shadow: inset 0 1px 3px #353535;
}
header form label input {
  margin-left: 10px;
  background: transparent;
  border: none;
}
header form label input:focus {
  border: none;
  outline: none;
}
header form h2 {
  padding: 25px 35px 0 35px;
}
header form p {
  padding: 20px 35px 20px 35px;
}

.order fieldset {
  border: none;
}
.order fieldset legend {
  text-transform: uppercase;
}
.order fieldset legend::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin-top: 5px;
  background-color: #99e2d0;
}
.order fieldset label {
  display: block;
  height: 70px;
  width: 100%;
  background-color: #fff;
}
.order fieldset input {
  display: none;
}

.step {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  left: -10px;
  top: 25px;
  color: #fff;
  font-size: 1.3rem;
  background-color: #9356DC;
  position: absolute;
}

.new {
  background-color: #99e2d0;
  color: #1e997b;
  font-size: 1.3rem;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

figure {
  height: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.25);
}
figure img {
  border-radius: 15px 15px 0 0;
  height: calc(100% - 60px);
  width: 100%;
  object-fit: cover;
}
figure figcaption {
  height: 60px;
  position: relative;
  padding: 10px;
}
figure i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.brand-name {
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.notice {
  background-color: #fff;
  padding: 35px;
  height: 400px;
}
.notice li {
  background-color: #f6f6f6;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}
.notice li i {
  font-size: 1.4rem;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #7e7e7e;
}
.notice li:last-child i {
  color: #9356DC;
}

.header__navigation {
  position: relative;
}
.header__navigation i {
  color: #353535;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

header img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.results {
  background-color: #f6f6f6;
  padding: 35px;
  display: grid;
  grid-template-rows: auto repeat(4, 200px);
  grid-gap: 20px;
}

main {
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
}

footer {
  color: #fff;
  background-color: #353535;
  padding: 35px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
}
footer li {
  line-height: 1.5;
  font-size: 1.5rem;
}
footer i {
  font-size: 1.3rem;
  margin-right: 10px;
}

/*# sourceMappingURL=mobile.css.map */
