$dark: rgba(0, 0, 0, 0.8);

.load  {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  z-index: 99;
  background-color: $dark;
  backdrop-filter: blur(4px);
  transform: translateX(0);
  animation: hidden_loader 10ms cubic-bezier(0,1.27,0,.91) 3s 1 forwards;

  &__spinner {
    height: 15rem;
    width: 15rem;
    margin: auto;
    border-top: 8px double $color-primary;
    border-right: 8px double transparent;
    border-radius: 50%;
    animation: spinner 750ms linear 4;
  }

  i {
    font-size: 7.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-secondary;
    opacity: 0;
    animation: reveal 3.1s ease-in-out 1;
  }
}

.hidden-heart {

  @include gradient(170deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0), translateX(-10px);

  &:hover {
    animation: hidden_heart 300ms ease-in-out both;
  }
}

.results__card--description i {

}


.label__element {
  animation: label-show $anim-dur backwards;
  @for $i from 1 through $label-nb {
    &--#{$i} {
      animation-delay: $anim-delay * $i;
    }
  }
}

/*KEYFRAMES*/

@keyframes spinner {

  100%{
    transform: rotate(360deg);
  }
}

@keyframes reveal {

  100% {
    color: $color-primary;
    opacity: 1;
  }
}

@keyframes hidden_loader {

  100%{
    transform: translateX(-9999px);
  }

}

@keyframes hidden_heart {
  100%{
    transform: scale(1);
  }
}

@keyframes label-show {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
