header form {
  text-align: center;
  background-color: $grey-tertiary;
  padding-bottom: 50px;

  label {
    display: block;
    height: 55px;
    line-height: 55px;
    background-color: $grey-primary;
    color: $grey-secondary;
    box-shadow: inset 0 4px 4px -5px $grey-secondary;
    input {
      margin-left: 10px;
        background: transparent;
        border: none;

        &:focus{
          border: none;
          outline: none;
        }

      }

    }

  h2 {
    padding: 25px 35px 0 35px;
  }

  p {
    padding: 20px 35px 20px 35px;
  }
}

.order {

  fieldset {
  border: none;

    legend {
      text-transform: uppercase;
      padding-top: 20px;

      &::after {
        content: "";
        display: block;
        width: 40px;
        height: 3px;
        margin-top: 5px;
        background-color: $color-tertiary;
      }
    }

    input {
      display: none;
    }
  }
}

.order label {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 15px;
    height: 65px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    @include button_shadow(0.25);
    opacity: (1);

}


.plate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.order__send {
  margin-top: 40px;
}