.step {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  left:-10px;
  top: 25px;
  color: #fff;
  font-size: 1.3rem;
  background-color: $color-primary;
  position: absolute;
}

.new {
  background-color: $color-tertiary;
  color: $green-accent;
  font-size: 1.3rem;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: scale(1);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like {
  width: 20px;
  height: 20px;
  position: relative;
}

.heart {
  color: $grey-accent;
  background-color: transparent;
  position: relative;
  left: 0;
  z-index: 2;
  transition: opacity 450ms ease-in-out;
}

.hidden-heart {
  @include gradient(170deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.95rem;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: opacity 400ms ease-in-out;
}
