@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


:root {
  font-size: 10px;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 3rem;
}

.brand-name {
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #fff;
}

h2 {
  font-size: 2.2rem;
}

.menu__title {
  font-family: 'Shrikhand', cursive ;
  font-size: 2.6rem;

  i {
    font-size: 2.6rem;
  }
}

h3 {
  font-size: 2rem;
}

.plate {
  h3 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.4rem;
  }
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.8rem;
}

h6{
  font-size: 1.7rem;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

i {
  font-size: 2rem;
}

a {
  color: inherit;
}