$color-primary: #9356DC;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$green-accent: #1e997b;
$grey-primary: #eaeaea;
$grey-secondary: #353535;
$grey-tertiary: #f6f6f6;
$grey-accent: #7e7e7e;
